In [1]:
import numpy as pd
import pandas as pd
from pandas import Series,DataFrame

In [6]:
dframe = pd.read_clipboard(sep=',', header= None)

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
pd.read_clipboard(sep=',',header =None, nrows = 2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [9]:
dframe.to_csv('mytestdata.csv')

In [10]:
import sys

In [15]:
dframe.to_csv(sys.stdout,sep='|')

|0|1|2|3|4
0|q|r|s|t|apple
1|2|3|4|5|pear
2|a|s|d|f|rabbit
3|5|2|5|7|dog